{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Task List</h1>
    {% if user.is_authenticated %}
        <ul>
            {% for task in tasks %}
                <li>{{ task.title }} - {{ task.description }} - {% if task.completed %}Completed{% else %}Not
                    Completed{% endif %} - <a href="{% url 'todo:task_update' task.pk %}">Edit</a> | <a
                        href="{% url 'todo:task_delete' task.pk %}">Delete</a></li>
            {% empty %}
                <li>No tasks yet.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'todo:task_create' %}">Create Task</a>
    {% else %}
        <h3><a href="{% url 'login' %}">Please log in to your account</a></h3>
    {% endif %}
{% endblock %}
